article.add
	div.add__row
		label.add__labels(for="name") Title:
			input#titleInput.add__controls(type="text", name="name")
	div.add__row
		label.add__labels(for="artist") Artist:
			input#artistInput.add__controls(type="text", name="artist")
	div.add__row
		label.add__labels(for="album") Album:
			input#albumInput.add__controls(type="text", name="album")
	div.add__row
		button#addButton.add_controls Add
