<section class="filter">
	<div class="filter__row">
		<label for=" artistFilter">Artist
			<select class='filter__input' name="" id="artistFilter">
			</select>
		</label>
	</div>
	<div class="filter__row">
		<label for="albumFilter">Album
			<select class='filter__input' name="" id="albumFilter">
				<option value="summerteeth">Summer Teeth</option>
				<option value="boxer">Boxer</option>
				<option value="bloodOnTheTracks">Blood On The Tracks</option>
			</select>
		</label>
	</div>
	<div class='filter__submit'>
		<button type="">Filter</button>
	</div>					
</section>	