<section class="filter">
	<div class="filter__row">
		<label for=" artistFilter">Artist
			<select class='filter__input' name="" id="artistFilter">
				<option value="No Selection" selected>No Selection</option>
			</select>
		</label>
	</div>
	<div class="filter__row">
		<label for="albumFilter">Album
			<select class='filter__input' name="" id="albumFilter">
				<option value="No Selection" selected>No Selection</option>
			</select>
		</label>
	</div>
	<div class='filter__submit'>
		<button id="btnFilter" type="">Filter</button>
		<button id="btnClearFilter" type="">Clear</button>
	</div>					
</section>	