div.page-header
	h1 Music History
		small NSS Project
nav.navbar.navbar-default
	div.container-fluid
		div.navbar-header
			ul.nav.nav-pills
				li#filterMusicLink.active(role="presentation")
					a(href="#") Filter Music
				li#addMusicLink(role="presentation")
					a(href="#") Add Music