nav.nav
	ul.nav_links
		li#filterMusicLink.nav__links__items
			a(href="#") Filter Music
		li#addMusicLink.nav__links__items
			a(href="#") Add Music
	p= name + ' lives in ' + city + ' with his wife ' + wife
	ul
		each val in testArray
			li= val.a + ' ' + val.b
	select
		each val in testArray
			option(value=val.a) #{val.b}
